body {
    height: 100%;
    margin: 1%;
    color: #0B4F6C;
    background-color: #E5E5E8;
    font-family: Times New Roman;
  font-size:  18px;
   /* border-style: solid;
    border-color: red;
    border-width: 5px; */
  }
  header {
    background-color: #71D692;
    margin: 1% 5% 1% 5%;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }
  h1{
    font-size: 4vmin;
  }
  h2 {
    font-size: 3.7vmin;
    text-align: center;
  }
  h3 {
    font-size: 3.5vmin;
    text-align: center;
    font-style: italic;
  }
  li {
    font-size: 3.2vmin;
  }
  
  #article {
    border-style: solid;
    border-color: blue;
    border-width: 5px;
  }
  #image {
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: orange;
    border-width: 5px;
  }
  
  #dates {
    align-content: center;
    border-style: solid;
    border-color: maroon;
    border-width: 5px;
  }
  #tribute-info {
    margin: 1% 1% 1% 2%;
    border-style: solid;
    border-color: hotpink;
    border-width: 5px;
  }
  #songs{
    margin: 1% 1% 1% 2%;
    border-style: solid;
    border-color: aquamarine;
    border-width: 5px;
  }
  footer{
    border-style: solid;
    border-color: green;
    border-width: 5px;
  }
  